<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ng-repeat指令嵌套</title>
</head>
<body ng-app="myApp">

 <div ng-controller="ngRepeatNestCtrl">
     
     <div ng-repeat="links in slides">
         <div ng-repeat="link in links">
             {{link}}
         </div>
     </div>

 </div>

<script src="../../bower_components/angular/angular.js"></script>
<script type="text/javascript">
    
    var myApp = angular.module('myApp',[]);

    myApp.controller('ngRepeatNestCtrl',function($scope){
        $scope.slides = [
            [1,2,3,4],
            [3,4,5,6]
        ]
    })

</script>    
</body>
</html>