<div ng-controller="searchArticleCtrl">
    <div class="form-group search-input">
        <div class="input-group">
            <span class="input-group-addon" ng-click="eventHandler.search()">走你</span>
            <input type="text" class="form-control" placeholder="搜索文章标题 or ID" required ng-model="query" ng-keyup="eventHandler.knockEnterKey($event)">
        </div>
           <button class="yesterday" ng-click="eventHandler.yesterday()">昨天</button>
           <button class="today" ng-click="eventHandler.today()">今天</button>
           <button class="tomorrow" ng-click="eventHandler.tomorrow()">明天</button>
    </div>
    <!-- 搜索框 -->
    <div class="article-list-area">
        <ul class="article-list" lazy-load>
            <li class="article" ng-repeat="article in cachedArticles">
                <div ng-class="{'list-item': article.cid === article.threeD}" class="rel">
                    <!-- <div class="article-title-and-pic clearfix" data-long-id="{{article.cid}}"> -->
                    <div class="article-title-and-pic clearfix" data-long-id="{{article.cid}}" data-short-id="{{ article.cid | shortID }}">
                    <!-- <div class="article-title-and-pic clearfix"> -->
                        <img ng-src="{{article.thumb_image_url | imgUrlFilter}}" width="100" height="100" class="pull-left">
                        <h3 class="pull-left">
                            <a href="{{article.url}}" target="_blank" ng-bind="article.title | handleTitle"></a>
                            <span class="pull-right" ng-bind="{{article.cid | shortID}}"></span>
                        </h3>
                    </div>
                    <p class="annotationed-tips" ng-hide="article.skuList == null || article.skuList.length === 0">已关联的SKU（{{article.skuList.length}}）：</p>
                    <!-- 文章卡片区 -->
                    <ul class="annotationed-sku-list">
                        <!-- <li ng-repeat="sku in article.skuList track by $index"> -->
                        <li ng-repeat="sku in article.skuList">
                            
                            <p class="sku-item-title">
                                <!-- <a href="{{article.thumb_image_url | imgUrlFilter}}" ng-bind="sku.title"></a> -->
                                <a href="{{sku.sid | sidToUrl }}" ng-bind="sku.title" target="_blank"></a>
                            </p>

                            <button class="btn btn-info btn-thin pull-right" ng-click="eventHandler.view(sku.sid,article.cid)">查看</button>
                            
                           <!--  <form action="http://203.195.181.227/cdn/refresh" method="POST" target="_blank" class="pull-right"> 
                                <input type="hidden" name="refresh" value="{{article.cid | cidTorefrshCDNUrl : sku.sid}}">
                                <button class="btn btn-danger btn-thin pull-right">
                                  刷新CDN
                                </button>
                            </form> -->

                        </li>
                    </ul>
                    <div class="tag">已关联</div>

                    <a href="{{ article.cid | shortID |idToCMSUrl }}" class="gocms  text-center" target="_blank">去CMS</a> 

                    <!-- <form action="http://203.195.181.227/cdn/refresh" method="POST" target="_blank">
                        <input type="hidden" name="refresh" value="{{ article.cid | cidTorefrshCDNUrl2 }}">
                        <button class="refreshcdn text-center">
                          刷新CDN
                        </button>
                    </form> -->
                     
                </div>
            </li>
        </ul>
    </div>
</div>